{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Barberlink - Pagos
{% endblock %}

{% block titulo_menu %}
    Pagos
{% endblock %}

{% block menu %}

    <a href="{% url 'pagos' %}">
        Pagos
    </a>

    <a href="{% url 'inicio' %}">
        Inicio
    </a>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pagos.css' %}">
{% endblock %}

{% block contenido %}

    <h1>Gestión de pagos</h1>

<section class="filtros-pagos">

    <label for="filtro-fecha">
        Fecha:
        <input type="date" id="filtro-fecha">
    </label>

    <label for="filtro-estado">
        Estado:
        <select id="filtro-estado">
            <option value="">Todos</option>
            <option value="PENDIENTE">Pendiente</option>
            <option value="PAGADO">Pagado</option>
        </select>
    </label>

</section>

<table>
        <thead>

            <tr>
                <th>Reserva</th>
                <th>Cliente</th>
                <th>Barbero</th>
                <th>Servicio</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Valor</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>

        </thead>

        <tbody id="lista-pagos">
        </tbody>

    </table>

{% endblock %}

{% block js %}

    <script src="{% static 'js/pagos.js' %}"></script>

{% endblock %}