{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Barberlink - Reportes
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/reportes.css' %}">
{% endblock %}

{% block contenido %}

<h1>Reporte de pagos</h1>

<table>
    <thead>
        <tr>
            <th>Reserva</th>
            <th>Cliente</th>
            <th>Barbero</th>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Valor</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody id="lista-reporte-pagos">
    </tbody>
</table>

<div class="resumen-reporte">
    <h2>Total recaudado</h2>
    <p id="total-recaudado">$0</p>
</div>


<h1>Reporte de citas</h1>

<label for="filtro-estado">Estado:</label>

<select id="filtro-estado">
    <option value="TODOS">Todos</option>
    <option value="PENDIENTE">Pendiente</option>
    <option value="CANCELADA">Cancelada</option>
    <option value="FINALIZADA">Finalizada</option>
</select>

<table>
    <thead>
        <tr>
            <th>Reserva</th>
            <th>Cliente</th>
            <th>Barbero</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody id="lista-reporte-citas">
    </tbody>
</table>

<a class="volver" href="{% url 'inicio' %}">Volver</a>

{% endblock %}

{% block js %}
    <script src="{% static 'js/reportes.js' %}"></script>
{% endblock %}