{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Barberlink - Crear usuario
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/crear_usuario.css' %}">
{% endblock %}

{% block contenido %}

    <h1>Crear usuario</h1>

    <form id="form-crear-usuario">

        {% csrf_token %}

        <label for="nombre">
            Nombre:
        </label>

        <input
            type="text"
            id="nombre"
            name="nombre"
        >


        <label for="tipo_documento">
            Tipo de documento:
        </label>

        <select
            id="tipo_documento"
            name="tipo_documento"
        >
            <option value="CC">CC</option>
            <option value="TI">TI</option>
            <option value="CE">CE</option>
        </select>


        <label for="documento">
            Documento:
        </label>

        <input
            type="text"
            id="documento"
            name="documento"
        >


        <label for="telefono">
            Teléfono:
        </label>

        <input
            type="text"
            id="telefono"
            name="telefono"
        >


        <label for="correo">
            Correo:
        </label>

        <input
            type="text"
            id="correo"
            name="correo"
        >


        <label for="password">
            Contraseña:
        </label>

        <input
            type="password"
            id="password"
            name="password"
        >


        <label for="rol">
            Rol:
        </label>

        <select
            id="rol"
            name="rol"
        >
            {% for rol in roles %}
                <option value="{{ rol.rol_id }}">
                    {{ rol.rol_desc }}
                </option>
            {% endfor %}
        </select>


        <p id="mensaje-error"></p>


        <button type="submit">
            Crear usuario
        </button>

    </form>


    <a
        class="volver"
        href="{% url 'usuarios' %}"
    >
        Volver
    </a>

{% endblock %}

{% block js %}

    <script src="{% static 'js/crear_usuario.js' %}"></script>

{% endblock %}