{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Barberlink - Crear usuario
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/crear_usuario.css' %}">
{% endblock %}

{% block contenido %}
    <h1>Crear usuario</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">

        <label for="tipo_documento">Tipo documento:</label>
        <input type="text" id="tipo_documento" name="tipo_documento">

        <label for="documento">Documento:</label>
        <input type="text" id="documento" name="documento">

        <label for="telefono">Telefono:</label>
        <input type="text" id="telefono" name="telefono">

        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo">

        <label for="password">Contraseña:</label>
        <input type="text" id="password" name="password">

        <label for="rol">Rol:</label>
        <select id="rol" name="rol">
            {% for rol in roles %}
                <option value="{{ rol.rol_id }}">
                    {{ rol.rol_desc }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Crear usuario</button>
    </form>

    <a class="volver" href="{% url 'usuarios' %}">Volver</a>
{% endblock %}