{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Barberlink - Cambiar contraseña
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/perfil_password.css' %}">
{% endblock %}

{% block contenido %}

<div class="contenedor-password">

    <h1>Cambiar contraseña</h1>

    <form id="form-password">

        {% csrf_token %}


        <label for="password-actual">
            Contraseña actual:
        </label>

        <input
            type="password"
            id="password-actual"
            name="password-actual"
        >


        <label for="password-nueva">
            Contraseña nueva:
        </label>

        <input
            type="password"
            id="password-nueva"
            name="password-nueva"
        >


        <label for="confirmar-password">
            Confirmar contraseña:
        </label>

        <input
            type="password"
            id="confirmar-password"
            name="confirmar-password"
        >


        <p id="mensaje-password"></p>


        <button type="submit">
            Cambiar contraseña
        </button>

    </form>

</div>


<a
    class="volver"
    href="{% url 'perfil' %}"
>
    Volver
</a>

{% endblock %}

{% block js %}

<script src="{% static 'js/perfil_password.js' %}"></script>

{% endblock %}