{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Barberlink - Mi perfil
{% endblock %}

{% block titulo_menu %}
    Perfil
{% endblock %}

{% block menu %}

    <a href="{% url 'perfil' %}">
        Mi perfil
    </a>

    <a href="{% url 'perfil_password' %}">
        Cambiar contraseña
    </a>

    <a href="{% url 'inicio' %}">
        Inicio
    </a>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block contenido %}

<section>

    <h1>Mi perfil</h1>

    <form id="form-perfil">

        {% csrf_token %}

        <label for="nombre">
            Nombre:
        </label>

        <input
            type="text"
            id="nombre"
            name="nombre"
        >


        <label for="tipo_documento">
            Tipo de documento:
        </label>

        <input
            type="text"
            id="tipo_documento"
            name="tipo_documento"
            readonly
        >


        <label for="documento">
            Documento:
        </label>

        <input
            type="text"
            id="documento"
            name="documento"
            readonly
        >


        <label for="telefono">
            Teléfono:
        </label>

        <input
            type="text"
            id="telefono"
            name="telefono"
        >


        <label for="correo">
            Correo:
        </label>

        <input
            type="email"
            id="correo"
            name="correo"
        >


        <p id="mensaje-perfil"></p>


        <button type="submit">
            Guardar
        </button>

    </form>

</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/perfil.js' %}"></script>

{% endblock %}